* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  padding: 20px;
}

.invisible {
  display: none;
}

nav {
  margin-bottom: 20px;
}

.placeholder {
  color: gray;
  position: relative;
  top: 100px;
  left: 50px;
}

.buttons-container {
  width: 50%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons-container .filter-container {
  width: 250px;
}

h3 {
  margin: 40px 0px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  width: 80vw;
}

section table {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section table tr:first-child td:first-child::after {
  content: " Today";
  position: absolute;
  top: 45px;
  left: 0px;
}

section table th {
  text-align: end;
}

section table td {
  text-align: center;
  position: relative;
}

section table td img {
  width: 70px;
}

section table td:first-child {
  text-align: left;
}

section table td:nth-of-type(3)::first-letter {
  text-transform: uppercase;
}

section .map-container {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.add-station {
  margin: 0px 0px 40px 0px;
}

.station-table {
  font-size: 18px;
}

.station-table th {
  text-align: start;
  color: purple;
}

.station-table th, .station-table td {
  padding: 20px 20px 0px 0px;
}

.station-table td:last-child {
  cursor: pointer;
}

.station-table td:last-child:hover {
  color: red;
}

@media only screen and (max-width: 1126px) {
  .buttons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .buttons-container .btns-container {
    margin-bottom: 20px;
  }
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .map-container {
    padding: 0px;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    height: 400px;
  }
  section table {
    margin-top: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    width: 100%;
  }
  .weather-stations-container form {
    width: 400px;
    height: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .weather-stations-container form.invisible {
    display: none;
  }
  .weather-stations-container .add-station {
    margin: 40px 0px;
  }
}

@media only screen and (max-width: 560px) {
  body {
    padding: 5px;
    width: 100vw;
  }
  .placeholder {
    position: static;
    margin-top: 10px;
  }
  section {
    width: 95vw;
  }
  table tr:first-child td:first-child::after {
    top: 50px;
  }
}
/*# sourceMappingURL=index.css.map */